html {
  box-sizing: border-box; /*todo documento com o box model alternativo*/
}
*, *::before, *::after { /*todos os elementos (classes etc.) herdam o box model alternativo */
  box-sizing: inherit;
}

body {
  font-family: arial,x-locale-body,sans-serif;
  letter-spacing: -.0027777778rem;
  font-size: 100%;
  line-height: 1.75;
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}
.menu {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkslategray;
  background: beige;
  width: max-content; /*width e height altera área do conteúdo*/
  padding: 1em;
  /*margin: ;*/
  display: inline-block;
  flex: 2;
}
.conteiner {
  display: inline-block; /*display inline com características block do padding e margin*/
  width: 100%;
  flex: 4;
  margin: 2%;
}
main {
  display: flex; /* cria um layout flex interno?*/
}
.img-header {
  display: block;
  height: 100px;
  padding-top: 20px;
}   

.header-conteiner {
  display: flex;
  background-color: beige;
  border: ridge rgba(10, 98, 104, 0.219) 5px;
}
h1 {
  text-align: center;
  flex: 2;
}
footer {
  padding: 2%;
}

.img-main {
  display: inline-block;
}

#b-red, #b-blue, #b-green {
  width: 20px;
  height: 20px;
  display: inline-block; 
}
#b-red{
  background-color: red;
}
#b-blue {
  background-color: royalblue;
}
#b-green {
  background-color: seagreen;
}
#b-red:hover {
  background-color: rgb(212, 70, 70);
}
#b-green:hover {
  background-color: rgb(83, 189, 129);
}
#b-blue:hover{
  background-color: rgb(31, 70, 185);
}
